body{
    position: relative;
    font-size: 18px;
    font-family:'Quicksand',Helvetica, Arial,sans-serif;
    color: #2B005E;
    line-height: 1.6;
    margin: 0;
}
a{
  text-decoration: none;
}


/* NAVBAR */
/* NAVBAR START */

.Navbar {
  display: flex;
  font-family: 'Quicksand', sans-serif;  
}

.Navbar__Link {
    display: inline-block;
  padding-right: 20px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin: 100px 0 auto 45vw;
}

.Navbar__Items--right a{
  text-decoration: none;
  color: #2B005E;
  padding: 0 30px;
}

.Navbar__Items--right a:hover{
  color: #f37800;
}

.Navbar__Link-toggle {
  display: none;
}

.Navbar__Items--right button{
  font-family:'Quicksand',Helvetica, Arial,sans-serif;
  font-size: 14px;
  font-weight: bolder;
}

.logo{
  width: 120%;
  float: left;
  padding: 2.5vw;
}

.dropbtn {
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #2B005E;
  font-size: 16px;
  padding: 0 30px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f37800;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropbtn {
  color: #f37800;
}

.dropdown-content a {
  color:#ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color:#ffffff}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #f37800;
}


@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
    
.Navbar__Items {
    display:none;
  }
    
.Navbar__Items--right {
    margin-left:0;
  }
    
.Navbar__ToggleShow {
    display: flex;
  }
    
.Navbar__Link-toggle {
    align-self: flex-end;
    display: block;
    position: absolute;
    cursor: pointer;
   } 
}


/* MAIN */
.box-container{
  position: relative;
}
.box-container, .addition{
    width: 80vw;
    margin: 5vh auto;
    text-align: justify;
}

.box-container p{
  width: 80vw;
}

.inj-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    height: fit-content;
  }

  .inj-item{
      min-width: 220px;
      width: 20%;
      text-align: center;
      color: #2B005E;
      font-weight: bolder;
      font-size: 20px;
      margin: 1vw;
      background-image: linear-gradient(60deg, #f39200 50%, #f37800 50%);
      padding: 40px;
  }

  .inj-items{
    min-width: 220px;
    width: 60%;
    text-align: center;
    color: #2B005E;
    font-weight: bolder;
    font-size: 20px;
    margin: 1vw;
    background-image: linear-gradient(60deg, #f39200 50%, #f37800 50%);
    padding: 5vw;
}

  .inj-item p{
      color: #ffffff;
      font-weight: normal;
      text-align: justify;
      font-size: 0.8em;
  }

  .inj-items p{
    color: #ffffff;
    font-weight: normal;
    text-align: justify;
    font-size: 0.8em;
    width: 80vw;
    margin: 0 auto;
}

  .addition p{
    font-weight: normal;
}

  .addition h2{
        font-family: 'Caveat', cursive;
        text-align: center;
        font-size: 2vw;
  }

  /* FOOTER */
footer{
    width: 100%;
    background-image: linear-gradient(60deg, #f39200 50%, #f37800 50%);
    bottom: 0;
   
    }
    
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }
    
    .footer-item{
        width: 30%;
        text-align: start;
        margin-top: 5vh;
        color: #ffffff;
        font-size: 14px;
    }
    .footer-item a{
      display: block;
      text-decoration: none;
      color: #ffffff;
      text-align: start;
      font-weight: bolder;
    }
  
    .footer-item a:hover{
      color: #ffffff;
    }
    
    hr{
        border: 1px solid #ffffff;
        width: 80%;
        opacity: 0.4;
    }

    
    .footer-links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        margin-left: 15%;
    }
    
    .gdpr{
        text-align: center;
        color: #ffffff;
    }
    
    .download{
        background-color: #ffffff;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 50px;
      }
      .download a{
        color: #2B005E;
      }

      .download a:hover{
        color: #ffffff;
      }
      
      .download:hover{
      background-color: #f37800;
      }
    
    .text{
        font-family: 'Caveat', cursive;
        text-align: center;
        font-size: 2vw;
    }
    
    .copy{
        color: #ffffff;
        font-size: 10px;
        padding-bottom: 1vh;
        text-align: center;
        width: 80vw;
    }

      /* GDPR */
.gdpr-text{
    width: 50%;
    margin: 5vw auto;  
}

.gdpr-text h1{
    text-align: start;
}
    
.gdpr-text p{
    text-align: justify;
}

.gdpr-btn{
    background-color: #2B005E;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    margin-left: 1vw;
}

.gdpr-btn a{
    color: #ffffff;
}
      
.gdpr-btn:hover{
    background-color: #f37800;
    color: #ffffff;    
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2){
  .logo img{
    width: 40%;
    margin: 40px 90px;
  }

  .box{
    min-width: 310px;
    position: relative;
    top: -70px;
  }

  .box-container{
    width: 85vw;
    justify-content: center;
    margin: 0 37px; 
    
  }

  .box-container h1{
    font-size: 30px;
    top: -100px;
  }

  .box-container h3{
    font-size: 15px;
    width: 75vw;
  }

  .box-container p{
    font-size: 14px;
}

.inj, .inj-container{
  margin: 0 auto;
}

.inj-container{
  display: block;
}
.inj-item{
  width: 79vw;
  height: fit-content;
  font-size: 18px;
}

.inj-item p {
  width: 100%;
  font-size: 14px;
}

.inj-items{
  width: 90%;
  margin: 0 auto;
}

.inj-items p{
  font-size: 15px;
}

.addition{
  padding: 0;
  width: 85vw;
  justify-content: center;
  margin: 0 22px; 
}

.addition p, .addition h2{
position: relative;
font-size: 15px; 
top: -30px;
}

.addition h2{
  font-size: 18px;
}


footer{
  width: 100%;
  font-weight: lighter;
 }
 
 .footer-container{
   margin: 20px auto;
 }
 
 .footer-item{
   min-width: 310px;
   text-align: center;
 }
 
 .footer-item a{
   text-align: center;
 }
 
 .gdpr p{
   font-size: 15px;
   padding: 0 30px;
 }
 .copy{
   width: 80%;
   font-size: 10px;
   text-align: center;
   margin: 0 auto;
 }

 .gdpr-text{
   width:85%;
   padding: 20px;
   margin: 0 auto;
   font-size: 15px;
 }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 481px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
  
  .logo{
    width: 40%;
    margin: 60px 130px;
  }
  
  .box-container{
    width: 83vw;
    margin: 0 40px;
    min-height: 46vh;
    top: -70px;
  }

  .inj-item{
    width: 100vw;
  }

  .inj-item p{
    font-size: 13px;
  }

  .inj-items{
    width: 80vw;
    margin: 0;
    padding: 50px;
  }

  .inj-items p{
    font-size: 13px;
    padding: 20px 20px;
    width: 70vw;
  }

  .addition{
    width: 72vw;
  }
  .addition p {
    width: 65vw;
    margin: 0 20px;
}

.addition h2{
  font-size: 25px;
  margin-bottom: 75px;
}

footer{
  width: 100vw;
  padding-top: 20px;
}
.footer-container{
  width: 80vw;
  margin-left: 17vw;
}

.footer-item{
  width: 40vw;
  margin: 0 auto;
  padding-top: 20px;
}

.gdpr-text{
  margin: 0 50px 50px 50px;
}
.gdpr-text h1{
width: 70vw;
}

.gdpr-text p{
  width: 80vw;
}
.copy{
  width: 80%;
  font-size: 10px;
  text-align: center;
  margin: 0 auto;
}
}

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 569px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  .logo{
    margin: 5vh 30vw 0 30vw;
    width: 35%;
  }

  .box-container{
    margin: 3vh auto;
  }

  .inj-container{
    width: 100vw;
  }

  .inj-item, .inj-items{
    width: 85vw;
  }

  .inj-items p{
    padding: 40px;
    width: 70vw;
  }

.addition h2{
  font-size: 24px;
}

.footer-container{
  margin-left: 80px;
}

.footer-item{
  width: 40vw;
  font-weight: normal;
  font-size: 14px;
}

.copy{
  font-size: 12px;
  width: 80vw;
  margin: 0 auto;
}

.gdpr-text{
  margin: 0 50px 50px 50px;
  width: 80vw;
}
.gdpr-text h1{
width: 70vw;
}

.gdpr-text p{
  width: 80vw;
}

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 668px) 
and (max-device-width: 768px)  {
  .logo{
    width: 30%;
    padding: 50px;
  }

  .box-container, .addition{
    margin: 0 auto;
  }

  .addition{
    width: 75%;
  }

  .addition h2{
    font-size: 25px;
  }

  .inj-item, .inj-items{
    width: 100vw;
  }

  .inj-items p{
    padding: 40px;
    width: 70vw;
  }

  .gdpr-text {
    width: 80vw;
    margin: 0 auto 50px auto;
}

footer{
  font-weight: normal;
  font-size: 16px;
}

.footer-container{
  margin-left: 130px;
}
.footer-item{
  width: 40vw;
}

.copy{
  width: 80vw;
  font-size: 12px;
  margin: 0 auto;
}
 }

 /* Portrait and Landscape */
@media only screen 
and (min-device-width: 769px) 
and (max-device-width: 896px) { 
  .Navbar__Items--right{
    font-size: 16px;
    width: 600px;
    margin: 60px 20px 0 140px;
  }

  .Navbar__Items--right button{
    font-size: 16px;
    font-weight: normal; 
    padding: 0 15px;
  }

  .Navbar__Items--right a{
    padding: 0 15px;
  }

  .logo{
    width: 170px;
    padding: 30px;
  }

  .box-container, .addition{
    width: 75vw;
  }

.box-container p{
  width: 75vw;
}


.inj-container{
  width: 100vw;
}

.inj-item{
  width: 35vw;
}

.inj-items{
  width: 90vw;
}

.inj-items p{
  width: 70vw;
  padding-top: 20px;
}


  .addition h2{
    font-size: 30px;
  }

  .footer-container{
    margin-left: 170px;
  }
  .footer-item
  {
    width: 40vw;
  }

  .copy{
    width: 80vw;
    margin: 0 auto;
    font-size: 12px;
  }

  .gdpr-text{
    width: 70vw;
  }
}

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 897px) 
and (max-device-width: 960px) { 
body{
  background-size: 112%;
}

.Navbar__Items--right{
  font-size: 16px;
  width: 600px;
  margin: 50px 30px 0 80px;
}

.Navbar__Items--right button{
  font-size: 16px;
  font-weight: normal; 
  padding: 0 15px;
}

.Navbar__Items--right a{
  padding: 0 15px;
}

.logo{
  width: 200px;
}

  .box-container, .addition{
    width: 75vw;
  }

  .addition h2{
    font-size: 25px;
  }
.inj-container{
  width: 100vw;
}
.inj-item {
  width:35vw ;
}

.inj-items{
  width: 80vw;
}

.inj-items p{
  width: 65vw;
  padding: 30px;
}

  .copy{
    width: 80vw;
    margin: 0 auto;
    font-size: 12px;
  }

.footer-container{
  margin-left: 50px;
}
  .footer-item{
width: 20vw;
  }

  .gdpr-text{
    width: 70vw;
  }
}


 /* Portrait and Landscape */
 @media only screen 
 and (min-device-width: 961px) 
 and (max-device-width: 1280px) {
  .Navbar__Items--right{
    font-size: 18px;
    width: 700px;
    margin: 50px 30px 0 150px;
  }
  
  .Navbar__Items--right button{
    font-size: 18px;
    padding: 0 20px;
    font-weight: normal;
  }
  
  .Navbar__Items--right a{
    padding: 0 20px;
  }
  
  .logo{
    width: 200px;
  }

  .addition h2{
    font-size: 35px;
  }

  .inj-item{
    width: 35vw;
  }

  .inj-items{
    width: 90vw;
  }

  .inj-items p{
    width: 65vw;
    padding: 20px;
  }

  .footer-container{
    margin-left: 50px;
  }
  .footer-item{
    width: 20vw;
  }

  .copy{
    margin: 0 auto;
    font-size: 12px;
  }

  .gdpr-text{
    width: 70vw;
  }
 }

 /* Portrait and Landscape */
 @media only screen 
 and (min-device-width: 1281px) 
 and (max-device-width: 1536px) {
  .Navbar__Items--right{
    font-size: 18px;
    width: 700px;
    margin: 80px 30px 0 400px;
  }
  
  .Navbar__Items--right button{
    font-size: 18px;
    padding: 0 20px;
    font-weight: normal;
  }
  
  .Navbar__Items--right a{
    padding: 0 20px;
  }
  
  .logo{
    width: 200px;
  }

  .footer-container{
    margin-left: 80px;
  }
    .footer-item{
  width: 20vw;
  font-size: 16px;
    }

    .addition h2{
      font-size: 40px;
    }

    .inj-items{
      width: 70vw;
    }

    .inj-items p{
      width: 55vw;
      padding: 30px;
    }

    .gdpr-text{
      width: 70vw;
    }
}

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 1537px) 
and (max-device-width: 1980px) {
  .logo{
    width: 250px;
  } 
   
    .Navbar__Items--right{
      font-size: 20px;
      width: 900px;
      margin:70px 0 0 550px;
    }
    
    .Navbar__Items--right button{
      font-size: 20px;
      padding: 0 30px;
      font-weight: normal;
    }
    
    .Navbar__Items--right a{
      padding: 0 30px;
    }

    .footer-container{
      margin-left: 10vw;
    }

    .footer-item{
      width: 20vw;
      font-size: 16px;
    }

    .copy{
      margin: 0 auto;
      font-size: 14px;
    }

    .box-container{
      margin-left: 10vw;
      margin-left: 15vw;
  
    }
    .box-container, .addition{
      width: 60vw;
    }

    .box-container p{
      width: 70vw;
      
    }

    .inj-item{
      width: 20vw;
    }

    .inj-items{
      width: 60vw;
    }

    .inj-items p{
      width: 50vw;
      padding: 30px;
    }

    .addition h2{
      font-size: 45px;
    }

    .gdpr-text{
      width: 65vw;
      margin-top: 0;
    }
}