body{
    position: relative;
    font-size: 18px;
    font-family:'Quicksand',Helvetica, Arial,sans-serif;
    color: #2B005E;
    line-height: 1.6;
    margin: 0;
}
a{
  text-decoration: none;
}


/* NAVBAR */
/* NAVBAR START */

.Navbar {
  display: flex;
  font-family: 'Quicksand', sans-serif;  
}

.Navbar__Link {
    display: inline-block;
  padding-right: 20px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin: 100px 0 auto 45vw;
}

.Navbar__Items--right a{
  text-decoration: none;
  color: #2B005E;
  padding: 0 30px;
}

.Navbar__Items--right a:hover{
  color: #f37800;
}

.Navbar__Link-toggle {
  display: none;
}

.Navbar__Items--right button{
  font-family:'Quicksand',Helvetica, Arial,sans-serif;
  font-size: 14px;
  font-weight: bolder;
}

.logo{
  width: 120%;
  float: left;
  padding: 2.5vw;
}

.dropbtn {
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #2B005E;
  font-size: 16px;
  padding: 0 30px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f37800;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropbtn {
  color: #f37800;
}

.dropdown-content a {
  color:#ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color:#ffffff}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #f37800;
}


@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
    
.Navbar__Items {
    display:none;
  }
    
.Navbar__Items--right {
    margin-left:0;
  }
    
.Navbar__ToggleShow {
    display: flex;
  }
    
.Navbar__Link-toggle {
    align-self: flex-end;
    display: block;
    position: absolute;
    cursor: pointer;
   } 
}


/* MAIN */
.box-container{
  position: relative;
}
.box-container, .addition{
    width: 80vw;
    margin: 5vh auto;
    text-align: justify;
}

.box-container p{
  width: 80vw;
}

.inj-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    height: fit-content;
  }

  .inj-item{
      min-width: 220px;
      width: 20%;
      text-align: center;
      color: #2B005E;
      font-weight: bolder;
      font-size: 20px;
      margin: 1vw;
      background-image: linear-gradient(60deg, #f39200 50%, #f37800 50%);
      padding: 40px;
  }

  .inj-items{
    min-width: 220px;
    width: 60%;
    text-align: center;
    color: #2B005E;
    font-weight: bolder;
    font-size: 20px;
    margin: 1vw;
    background-image: linear-gradient(60deg, #f39200 50%, #f37800 50%);
    padding: 5vw;
}

  .inj-item p{
      color: #ffffff;
      font-weight: normal;
      text-align: justify;
      font-size: 0.8em;
  }

  .inj-items p{
    color: #ffffff;
    font-weight: normal;
    text-align: justify;
    font-size: 0.8em;
    width: 80vw;
    margin: 0 auto;
}

  .addition p{
    font-weight: normal;
}

  .addition h2{
        font-family: 'Caveat', cursive;
        text-align: center;
        font-size: 2vw;
  }

  /* FOOTER */
footer{
    width: 100%;
    background-image: linear-gradient(60deg, #f39200 50%, #f37800 50%);
    bottom: 0;
   
    }
    
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }
    
    .footer-item{
        width: 30%;
        text-align: start;
        margin-top: 5vh;
        color: #ffffff;
        font-size: 14px;
    }
    .footer-item a{
      display: block;
      text-decoration: none;
      color: #ffffff;
      text-align: start;
      font-weight: bolder;
    }
  
    .footer-item a:hover{
      color: #ffffff;
    }
    
    hr{
        border: 1px solid #ffffff;
        width: 80%;
        opacity: 0.4;
    }

    
    .footer-links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        margin-left: 15%;
    }
    
    .gdpr{
        text-align: center;
        color: #ffffff;
    }
    
    .download{
        background-color: #ffffff;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 50px;
      }
      .download a{
        color: #2B005E;
      }

      .download a:hover{
        color: #ffffff;
      }
      
      .download:hover{
      background-color: #f37800;
      }
    
    .text{
        font-family: 'Caveat', cursive;
        text-align: center;
        font-size: 2vw;
    }
    
    .copy{
        color: #ffffff;
        font-size: 10px;
        padding-bottom: 1vh;
        text-align: center;
        width: 80vw;
    }

      /* GDPR */
.gdpr-text{
    width: 50%;
    margin: 5vw auto;  
}

.gdpr-text h1{
    text-align: start;
}
    
.gdpr-text p{
    text-align: justify;
}

.gdpr-btn{
    background-color: #2B005E;
    width: 170px;
    height: 50px;
    border: none;
    border-radius: 50px;
    color: #ffffff;
    margin-left: 1vw;
}

.gdpr-btn a{
    color: #ffffff;
}
      
.gdpr-btn:hover{
    background-color: #f37800;
    color: #ffffff;    
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2){
  .logo img{
    width: 40%;
    margin: 40px 90px;
  }

  .box{
    min-width: 310px;
    position: relative;
    top: -70px;
  }

  .box-container{
    width: 85vw;
    justify-content: center;
    margin: 0 37px; 
    
  }

  .box-container h1{
    font-size: 30px;
    top: -100px;
  }

  .box-container h3{
    font-size: 15px;
    width: 75vw;
  }

  .box-container p{
    font-size: 14px;
}

.inj, .inj-container{
  margin: 0 auto;
}

.inj-container{
  display: block;
}
.inj-item{
  width: 79vw;
  height: fit-content;
  font-size: 18px;
}

.inj-item p {
  width: 100%;
  font-size: 14px;
}

.inj-items{
  width: 90%;
  margin: 0 auto;
}

.inj-items p{
  font-size: 15px;
}

.addition{
  padding: 0;
  width: 85vw;
  justify-content: center;
  margin: 0 22px; 
}

.addition p, .addition h2{
position: relative;
font-size: 15px; 
top: -30px;
}

.addition h2{
  font-size: 18px;
}


footer{
  width: 100%;
  font-weight: lighter;
 }
 
 .footer-container{
   margin: 20px auto;
 }
 
 .footer-item{
   min-width: 310px;
   text-align: center;
 }
 
 .footer-item a{
   text-align: center;
 }
 
 .gdpr p{
   font-size: 15px;
   padding: 0 30px;
 }
 .copy{
   width: 80%;
   font-size: 10px;
   text-align: center;
   margin: 0 auto;
 }

 .gdpr-text{
   width:85%;
   padding: 20px;
   margin: 0 auto;
   font-size: 15px;
 }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 481px) 
and (max-device-width: 567px)
and (-webkit-min-device-pixel-ratio: 2) {
  
  .logo{
    width: 40%;
    margin: 80px 120px;
  }
  
  .box-container{
    width: 83vw;
    margin: 0 40px;
    min-height: 46vh;
    top: -70px;
  }

  .inj-item{
    width: 100vw;
  }

  .inj-item p{
    font-size: 13px;
  }

  .inj-items{
    width: 80vw;
    margin: 30px 0;
  }

  .inj-items p{
    font-size: 13px;
    padding: 0 20px;
  }

  .addition{
    width: 72vw;
  }
  .addition p {
    width: 65vw;
    margin: 0 20px;
}

.addition h2{
  font-size: 25px;
  margin-bottom: 75px;
}

footer{
  width: 100vw;
  padding-top: 20px;
}
.footer-container{
  width: 80vw;
}

.footer-item{
  width: 40vw;
  margin: 0 auto;
  padding-top: 20px;
}

.gdpr p{
  text-align: center;
}
.copy{
  width: 80%;
  font-size: 10px;
  text-align: center;
  margin: 0 auto;
}
}

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 568px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  .logo{
    margin: 10vh 30vw 0 30vw;
    width: 35%;
  }

  .box-container{
    margin: 3vh auto;
  }

  .inj-container{
    width: 100vw;
  }

  .inj-item{
    width: 60vw;
  }

.addition h2{
  font-size: 24px;
}

.footer-item{
  width: 40vw;
  font-weight: normal;
  font-size: 14px;
}

.copy{
  font-size: 12px;
  width: 80vw;
  margin: 0 auto;
}



}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 668px) 
and (max-device-width: 736px)  {
  .logo{
    width: 35%;
  }

  .box-container{
    margin: 2vh auto;
    width: 75%;
  }

  .addition{
    width: 75%;
  }

  .addition h2{
    font-size: 25px;
  }

footer{
  font-weight: normal;
  font-size: 16px;
}
.footer-item{
  width: 40vw;
}

.copy{
  width: 80vw;
  font-size: 12px;
  margin: 0 auto;
}
 }

 /* Portrait and Landscape */
@media only screen 
and (min-device-width: 737px) 
and (max-device-width: 992px)  { 
  .logo{
    width: 25%;
  }

  .box-container, .addition{
    width: 75vw;
  }

  .addition h2{
    font-size: 25px;
  }

  .footer-item
  {
    width: 40vw;
  }

  .copy{
    width: 80vw;
    margin: 0 auto;
  }
}

 /* Portrait and Landscape */
 @media only screen 
 and (min-device-width: 992px) 
 and (max-device-width: 1200px) {
   nav{
    width: 600px;
   }
  .Navbar__Items--right{
     padding-right: 50px;
     margin: auto 20px auto 350px;
   }

   .Navbar__Items--right a {
    font-size: 14px;
    padding: 0 15px;
    font-weight: bolder;
   }
  .Navbar__Items--right button{
    font-size: 14px;
    padding: 0 15px;
    
 } 

 .logo{
   width: 130%;
 }

 .dropdown-content {
  padding: 10px;
}

.dropdown-content a,button {
  padding: 10px;
}

.addition h2{
  font-size: 35px;
}

.footer-item{
  width: 20vw;
}
}

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 1200px) {
  nav{
    width: 800px;
   }
  .Navbar__Items--right{
     margin: auto 20px auto 500px;
   }

   .Navbar__Items--right a {
    font-size: 16px;
    padding: 0 20px;
    font-weight: bolder;
   }
  .Navbar__Items--right button{
    font-size: 16px;
    padding: 0 20px;
    
 } 

 .logo{
   width: 160%;
 }

 .dropdown-content {
  padding: 15px;
}
.dropdown-content a,button {
  padding: 10px;
}

.addition h2{
  font-size: 35px;
}

.footer-item{
  width: 20vw;
}

.box-container, .addition{
  width: 83vw;
}

}

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 1920px) {
  .logo{
    width: 120%;
  }
  
  .Navbar{
    height: 350px;
    }
    
      .Navbar__Items--right{
        padding-right: 50px;
        margin: auto 10px auto 750px;
      }
    
      .Navbar__Items--right a {
       font-size: 24px;
       padding: 0 40px;
       font-weight: bolder;
      }
     .Navbar__Items--right button{
       font-size: 24px;
       padding: 0 40px;
    } 
    
    .dropdown-content{
      padding: 20px;
    }
    
    .dropdown-content a{
      font-size: 18px;
      font-weight: normal;
      padding: 10px;
    }

    .box-container, .addition{
      width: 70vw;
    }

    footer{
      font-weight: normal;
    }
    .footer-container{
      margin-left: 8vw;
      margin-top: 0;
    }
    
    .footer-item{
      font-size: 24px;
    }
    
    .gdpr{
      font-size: 24px;
    }
    
    .copy{
      font-size: 20px;
    }
}

