body{
  position: relative;
  font-size: 18px;
  font-family:'Quicksand',Helvetica, Arial,sans-serif;
  color: #2B005E;
  line-height: 1.6;
  margin: 0;
  background-image: url(img/bg-img.jpg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: local;
}

a{
  text-decoration: none;
}

/* NAVBAR START */

.Navbar {
  display: flex;
  font-family: 'Quicksand', sans-serif;  
}

.Navbar__Link {
  display: inline-block;
  padding-right: 20px;
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin: 100px 0 auto 45vw;
}

.Navbar__Items--right button{
  font-family:'Quicksand',Helvetica, Arial,sans-serif;
  font-size: 14px;
  font-weight: bolder;
}

.Navbar__Items--right a{
  text-decoration: none;
  color: #2B005E;
  padding: 0 30px;
}

.Navbar__Items--right a:hover{
  color: #f37800;
}

.Navbar__Link-toggle {
  display: none;
}

.logo{
  width: 100%;
  float: left;
  padding: 2.5vw;
}

.dropbtn {
  position: relative;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #2B005E;
  font-size: 16px;
  padding: 0 30px;
  font-size: 16px;
  font-family:'Quicksand',Helvetica, Arial,sans-serif;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f37800;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropbtn {
  color: #f37800;
}

.dropdown-content a {
  color:#ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color:#ffffff}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #f37800;
}


@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
    
.Navbar__Items {
    display:none;
  }
    
.Navbar__Items--right {
    margin-left:0;
  }
    
.Navbar__ToggleShow {
    display: flex;
  }
    
.Navbar__Link-toggle {
    align-self: flex-end;
    display: block;
    position: absolute;
    cursor: pointer;
   } 
}

/* HERO START*/

main {
  position: relative;
  background-image: url(img/hero-img.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 76vh;
  width: 60%;
  box-shadow: -2px -2px 5px 5px #2a005e25;
  border: none;
  border-radius: 20px;
  top: -180px;
  left: 20%;
}

.inner_box{
background:rgba(255,255,255,0.7);
width: auto;
height: auto;
margin: 50px;
position: absolute;
top: 27%;
left: 10%;
padding: 50px;
justify-content: center;
text-align: center;
border: none;
border-radius: 20px;
}


.inner_box p{
    padding-bottom: 20px;
}

.inner_box button{
  width: 200px;
  height: 50px;
  background:#f37800;
  text-transform:uppercase;
  font-weight:bold;
  font-size:16px;
  border:none;
  border-radius: 50px;
  padding:10px 30px;
}
.inner_box button a{
    color: #ffffff;
}
.inner_box button:hover{
  background:#2B005E;
}

/* HERO END*/
/*BANNER START*/

.banner-container {
  background-image: linear-gradient(60deg, #f39200 50%, #f37800 50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  height: 45vh;
  width: 100%;
}

.banner-item{
    width: 30%;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    margin-top: 12vh;
}

/*BANNER END*/

/*SECTION ONE START*/

.sec-container{
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.sec-item{
  width: 50%;
  text-align: center;
  align-items: center;
  margin-top: 10vh;
}

.sec-item p{
font-size: 2vw;
margin-right: 4vw;
margin-top: 7vh;
}

.sec-item h1{
  font-size: 2vw;
  margin-right: 4vw;
  text-transform: uppercase;
  }

.sec-item img{
  box-shadow: 2px 2px 5px 3px #2a005e4f;
 border: none;
 border-radius: 25px;
}

/*SECTION ONE END*/

/*SECTION TWO START*/

.section-two{
  background-image: url(img/banner.svg);
  background-repeat: no-repeat;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 15vh;
}

.section-two h1{
  text-transform: uppercase;
  color: #f37800;
}

.dot{
  background-color: #f37800;
  width: 150px;
  height: 50px;
  margin-top: 25px;
  border: none;
  border-radius: 5em;
  text-align: center;
}

.dot a{
  text-transform: uppercase;
  color: #ffffff;
}

.dot:hover{
  background-color:#2B005E;
}

.text h2{
  font-family: 'Caveat', cursive;
  text-align: center;
  font-size: 3em;
}
/*SECTION TWO END*/

/* FOOTER START */
footer{
  width: 100%;
  background-image: linear-gradient(60deg, #f39200 50%, #f37800 50%);
  bottom: 0;
  font-weight: normal;
  }

 
  
  .footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 3vh;
    margin-left: 15vw;
  }
  
  .footer-item{
    width: 20%;
    text-align: start;
    margin-top: 5vh;
    color: #ffffff;
    font-size: 14px;
  }

  .footer-item a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    text-align: start;
    font-weight: bolder;
  }

  .footer-item a:hover{
    color: #ffffff;
  }
  
  hr{
    border: 1px solid #ffffff;
    width: 80%;
    opacity: 0.4;
  }


  
  .footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-left: 15%;
  }
  
  .gdpr{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
  }
  
  .download{
    background-color: #ffffff;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
  }
  .download a{
    color: #2B005E;
  }
  
  .download a:hover{
      color: #ffffff;
    }
    
    .download:hover{
    background-color: #f37800;
    }
  
  .text{
    font-family: 'Caveat', cursive;
    text-align: center;
    font-size: 13px;
  }
  
  .copy{
    color: #ffffff;
    font-size: 10px;
    padding-bottom: 1vh;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
  }

  /* FOOTER END */

  /***** O NAS *****/

  /*BANNER TWO*/

.banner-two-container {
  background-image: linear-gradient(60deg, #f39200 50%, #f37800 50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  height: 60vh;
  top: -650px;
}

.banner-two-item{
    flex-shrink: 1;
    width: 55%;
    text-align: justify;
    color: #ffffff;
    font-size: 1em;
    font-weight: lighter;
    margin: auto;
}

#signature {
  margin-left: 37vw;
}

/*BANNER END*/

/* STORY START */

#story-headline{
  text-align: center;
  font-size: 30px;
}

.story-container{
  display: flex;
  flex-wrap: wrap;
  background-image: url(img/banner.svg);
  background-size: 85%;
  background-repeat: no-repeat;
  max-width: 100vw;
  align-items: center;
  padding: 0 4vw;
}

.story-item{
  display: block;
  min-width: 260px;
  max-width: 40vw;
  justify-items: center;
  margin: 2.5vw;

}

.story-container .story-item{
    display: inline-block;
    text-align: justify;
}

.person-container{
  display: flex;
  flex-wrap: wrap;
}

.person-item{
    align-items: center;
}
.person-item img{
    width: 50%;
    border-radius: 50%;
}

/*FORM*/

.form-heading{
  font-size: 2.5em;
  text-align: center;
  }
  
  .contact-form{
  grid-column: 1;
  min-width: 300px;
   width: 40vw;
   height: 100vh;
   background-image: linear-gradient(60deg, #f39200 50%, #f37800 50%);
   margin: auto;
   border: none;
   border-radius: 50px;
   top: -10vh;
   box-shadow: -5px -5px 15px 5px #4c44634b;
   
  }
  
  .info-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  }
  
  .info-item{
   width: 30%;
   text-align: center;
   color: #ffffff;
   font-size: 16px;
   margin-top: 4vw;
  }
  
  .form {
  margin: 4vw;
  }
  
  .form-group{
  margin: 20px;
  }
  
  .form-control{
  background-color: #ececec;
  min-width: 210px;
  width: 20vw;
  height: 4vh;
  padding: 5px 25px;
  border: none;
  border-radius: 50px;
  color: #2B005E;
  }
  
  .note{
  text-align: center;
  margin: 3vw;
  }
  
  
  .note-btn{
  background-color: #2B005E;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 50px;
  margin-left: 1vw;
  }
  
  .note-btn a{
    color: #ffffff;
  }
  
  .note-btn:hover{
  background-color: #f37800;
  color: #ffffff;
  }
  
  .btn-sub{
    background-color: #ffffff;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    margin-left: 1vw;
    color: #f37800;
    }
    
    
    .btn-sub:hover{
      background-color: #2B005E;
      }
    


      /* RESPONSIVE */

      /* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2){

  /* NAVBAR */
.logo img{
width: 30%;
}


/* HERO */
main{
background-size: 100%;
height: 480px;
width: 90%;
top: -23px;
left: 5%;
z-index: -1;
}
.inner_box {
  width: 90%;
  margin: auto;
  margin-left: 10px;
  top: 12vh;
  left: 5px;
  padding: 0;
}

.inner_box h1{
  font-size: 28px;
}

.inner_box p{
  font-size: 16px;
  width: 70vw;
  margin-left: 30px;
}

.inj-item{
  min-width: 310px;
}

/* BANNER */
.banner-container{
  height: 120vh;
}

.banner-item{
  min-width: 310px;
  margin-top: 9vh;

}

/* SECTION */

.sec-item{
  position: relative;
  min-width: 320px;
  top: -60px;
}
.sec-item p{
  position: absolute;
  font-size: 14px;
  top: -120px;
}

.sec-item h1{
  position: absolute;
  font-size: 20px;
  top: 30px;
}
/* SECTION TWO */
.section-two{
  position: relative;
  top: -50px;
}
.section-two h2{
  font-size: 20px;
}

.section-two h3{
  font-size: 18px;
  font-weight: lighter;
}

.section-two h1{
  font-size: 25px;
  color: #f37800;
}

/* FOOTER */
footer{
 width: 100%;
 font-weight: lighter;
}

.footer-container{
  margin-top: 0;
  margin-left: 0;
}

.footer-item{
  min-width: 320px;
  text-align: center;
  font-size: 15px;
}

.footer-item a{
  text-align: center;
}

.gdpr p{
  font-size: 15px;
  padding: 0 30px;
}
.copy p{
  width: 80%;
  font-size: 10px;
  text-align: center;
  margin: 0 auto;
  font-weight: lighter;
}

/* O NAS */
/* BANNER */
.banner-two-container{
  height: 850px;
}
.banner-two-item{
  min-width: 250px;
  font-size: 16px;
  line-height: 1.6;
  padding: 20px 0;
}

#signature {
 text-align: center;
 margin-left: 0px;
  font-size: 14px;
}

/* STORIES */
.story-item{
  min-width: 270px;
  margin: auto;
  font-size: 12px;
  padding: 20px 15px;
}

.story-item img{
  margin-left: 70px;
}

/* FORM*/

.form-heading{
  font-size: 20px;
  font-weight: bolder;
  margin-top: 100px;
}

.contact-form{
  min-width: 300px;
}
.info-item{
  margin-top: 40px;
}
.info-item p{
  font-size: 12px;
}
.form-check-label,.invalid-feedback{
  font-size: 12px;
  padding: 10px;
}
.btn-sub{
  margin-left: 30px;
}

.note h1{
  font-size: 18px;
  min-width: 300px;
}
.note p{
  font-size: 14px;
}
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 481px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
  .logo{
    width: 35%;
  }
  
  .inner_box {
    top: 10vh;
    margin:0 auto;
    padding: 0px;
    width: 85vw;
    height: fit-content;
    left: 2vw;
  }

  .inner_box h1, .inner_box p, .ineerbox button{
    width: 75vw;
    margin: 25px auto;
  }

  main{
    top: 2vh;
    width: 90vw;
    height: 65vh;
    left: 5%;
    z-index: -1;
  }
  .banner-container{
    height: fit-content;
    padding-bottom: 50px;
  }
  .banner-item{
    width: 80vw;
  }
  .sec-item {
    margin-top: 30px;
    width: 80%;
  }
  .sec-item img {
    width: 100%;
}
.sec-item h1{
  margin: 10px 20px;
  font-size: 30px;
}

.sec-item p{
  margin: 0;
  font-size: 16px;
}
.banner-two-container{
  width: 100vw;
  height: 80vh;
  margin: 50px auto;
}

.banner-two-container p{
  font-size: 16px;
  line-height: 1.6;
  width: 70vw;
  margin: -30px;
}

#signature{
  padding-top: 40px;
  margin-left: 10vw;
  font-size: 14px;
}

.footer-item{
  width: 40vw;
  font-weight: normal;
}

.copy{
  width: 80vw;
  font-weight: normal;
  margin: 0 auto;
  font-size: 10px;
}

/* O NAS */
.person-container{
  width: 85vw;
  margin: 0 0 0 15px;
}

.person-item img{
  margin: 0 20vw;
}

/* FORM */
.contact-form {
  width: 85vw;
}

.form-heading {
  font-size: 26px;
}

.info-item{
  margin-top: 7vh;
}

.form-control{
  width: 60vw;
}
.btn-sub{
  margin-left: 4vw;
}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 568px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
.logo{
  width: 40%;
}
main {
  width: 80vw;
  top: -5px;
  left: 10%;
}
.inner_box {
  width: 55vw;
  margin: 0px;
  top: 10%;
  left: 20px;
}

.banner-item{
  font-size: 14px;
}

.banner-item img{
  width: 20%;
}
.sec-item{
  margin-top: 7vw;
}

.sec-item h1 {
  font-size: 20px;
  margin-right: 5vw;
}
.sec-item p {
  font-size: 14px;
  margin-right: 5vw;
  margin-top: 0;
}

.section-two{
  margin-top: 5vw;
}

.section-two h2{
  font-size: 22px;
}

.footer-item{
  width: 40vw;
}

.banner-two-container{
  height: 75vh;
}

.banner-two-item{
  width: 70vw;
}
.banner-two-item p{
  font-size: 16px;
  line-height: 1.6;
  width: 75vw;
}

#signature{
  width: 70vw;
  margin-left: 25vw;
  font-size: 14px;
}

.person-text-item{
  width: 85vw;
  margin-left: 5vw;
}

.person-item{
  width: 80vw;
}

.person-item img{
  margin-left: 23vw;
}
footer{
  font-weight: normal;
}

}



/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 668px) 
and (max-device-width: 736px)  { 

.logo{
  width: 30%;
}

main{
  width: 80vw;
  top: -12vh;
  left: 0;
  margin: 0 auto;
  z-index: -1;
}

.inner_box {
  margin: 55px;
  top: 10%;
  left: 0;
  padding: 50px;
}

.banner-container{
  margin-top: -12vw;
  height: 140vh;
}

.banner-item{
  width: 60vw;
}

.banner-item img{
  width: 15%;
}

.sec-item{
  margin-top: 5vh;
}

.sec-item p{
  font-size: 20px;
  margin-top: 1vh;
}

.sec-item h1{
  font-size: 25px;
}

.sec-item img{
  width: 90%;
}

.section-two{
  margin-top: 5vh;
}

.section-two h2{
  font-size: 20px;
}

.footer-item{
  width: 40vw;
}

.copy{
  width: 80vw;
  margin: 0 auto;
}

.banner-two-container{
  height: 100vh;
}

#signature{
  width: 35vw;
  margin-left: 20vw;
  font-size: 16px;
}

.story-container{
  width: 80vw;
}
 .person-item{
  width: 80vw;
  margin-left: 3vw;
}

.person-item img{
  margin-left: 22vw;
}
footer{
  font-weight: normal;
}

.form-heading{
  font-size: 40px;
  width: 80vw;
  margin: 0 auto;
}

.info-container{
  margin-top: 20px;
  width: 80vw;
}

.contact-form {
  width: 80vw;
}

.info-item{
  margin-top: 50px;
}

.form-control{
  width: 50vw;
}
}

 /* Portrait and Landscape */
 @media only screen 
 and (min-device-width: 737px) 
 and (max-device-width: 992px)  { 
  .logo{
    width: 30%;
  }
  
  main{
    width: 80vw;
    top: -8vh;
    left: 0;
    margin: 0 auto;
    z-index: -1;
  }
  
  .inner_box {
    margin: 55px;
    top: 10%;
    left: 0;
    padding: 50px;
  }
  
  .banner-container{
    margin-top: -12vw;
    height: 140vh;
  }
  
  .banner-item{
    width: 60vw;
  }
  
  .banner-item img{
    width: 15%;
  }
  
  .sec-item{
    margin-top: 5vh;
  }
  
  .sec-item p{
    font-size: 20px;
    margin-top: 1vh;
  }
  
  .sec-item h1{
    font-size: 25px;
  }
  
  .sec-item img{
    width: 90%;
  }
  
  .section-two{
    margin-top: 5vh;
  }
  
  .section-two h2{
    font-size: 20px;
  }
  
  .footer-item{
    width: 40vw;
  }
  
  .copy{
    width: 80vw;
    margin: 0 auto;
  }
  
  .banner-two-container{
    height: 680px;
  }
  
  .banner-two-container p{
    width: 60vw;
    margin: 0 0 0 auto;
    
  }

  #signature{
    width: 40vw;
    font-size: 16px;
    margin-left: 21vw;
    margin-top: 20px;
  }
  
  .story-container{
    width: 80vw;
  }
  .person-item{
    width: 80vw;
    margin: 0 20px;
  }
  
  .person-item img{
    margin-left: 22vw;
  }
  footer{
    font-weight: normal;
  }
  
  .form-heading{
    font-size: 40px;
    width: 80vw;
    margin: 0 auto;
  }
  
  .info-container{
    margin-top: 20px;
    width: 80vw;
  }
  
  .contact-form {
    width: 80vw;
  }
  
  .info-item{
    margin-top: 50px;
  }
  
  .form-control{
    width: 50vw;
  }
  }
  
  /* Portrait and Landscape */
 @media only screen 
 and (min-device-width: 992px) 
 and (max-device-width: 1200px) {
  nav{
    width: 700px;
   }
  
   .Navbar__Items--right{
     padding-right: 50px;
     margin: auto 20px auto 300px;
   }

   .Navbar__Items--right a {
    font-size: 16px;
    padding: 0 15px;
    font-weight: bolder;
   }
  .Navbar__Items--right button{
    font-size: 16px;
    padding: 0 15px;
    
 } 

 .logo{
   width: 130%;
 }

 .dropdown-content {
  padding: 10px;
}

.dropdown-content a,button {
  padding: 10px;
}

main{
  width: 80vw;
  height: 59vh;
}

.banner-container{
  height: 50vh;
}

.banner-item{
  width: 30vw;
}

.sec-item p{
  margin-top: 50px;
}

.sec-item h1{
  font-size: 30px;
  margin-top: 25px;
}

.footer-item{
  width: 20vw;
}

.banner-two-container{
  height: 60vw;
}
.banner-two-item{
  width: 90vh;
}

.banner-two-item p{
  width: 70vw;
}

#signature{
  margin-left: 40vw;
}

.story-container {
  width: 100vw;
}

.person-item{
  width: 50vw;
  margin: 0;
}

.person-item img{
  margin-left: 9vw;
}

footer{
  font-weight: normal;
}

.form-heading{
  font-size: 40px;
  width: 80vw;
  margin: 0 auto;
}

.info-container{
  margin-top: 20px;
  width: 80vw;
}

.contact-form {
  width: 80vw;
}

.info-item{
  margin-top: 50px;
}

.form-control{
  width: 50vw;
}

 }

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 1200px) {
  .logo{
    width: 120%;
  }

  .Navbar__Items--right{
    padding-right: 50px;
    margin: auto 10px auto 450px;
  }

  .Navbar__Items--right a {
   font-size: 18px;
   padding: 0 20px;
   font-weight: bolder;
  }
 .Navbar__Items--right button{
   font-size: 18px;
   padding: 0 20px;
} 

  main{
    height: 72vh;
    top: -30px;
    left: 10%;
}

.inner_box{
  top: 18vh;
  left: 1vw;
}

.banner-item{
  width: 25vw;
  margin: auto 50px;
}


/* Portrait and Landscape */
@media only screen 
and (min-device-width: 1920px) {
  .logo{
    width: 120%;
  }
.Navbar{
height: 270px;
}

  .Navbar__Items--right{
    padding-right: 50px;
    margin: auto 10px auto 750px;
  }

  .Navbar__Items--right a {
   font-size: 24px;
   padding: 0 40px;
   font-weight: bolder;
  }
 .Navbar__Items--right button{
   font-size: 24px;
   padding: 0 40px;
} 

.dropdown-content{
  padding: 20px;
}

.dropdown-content a{
  font-size: 18px;
  font-weight: normal;
  padding: 10px;
}

  main{
    width: 75vw;
    height: 40vw;
    padding: 50px;
    top: -40px;
    left: 10%;
    z-index: -1;
}

.inner_box{
  width: 65vw;
  height: 28vw;
  top: 10vh;
  left: 2vw;
}

.inner_box h1{
  font-size: 55px;
}

.inner_box p{
  font-size: 35px;
  padding-top: 20px;
  width: 60vw;
  margin-left: 2vw;
}

.inner_box button {
  width: 250px;
  height: 70px;
  font-size: 22px;
}

.inner_box button a{
text-decoration: none;
}

.banner-container{
  top: -50px;
  height: 30vw;
  padding: auto 300px;
}

.banner-item{
  width: 25vw;
  margin: auto 50px;
  font-size: 26px;
}

.banner-item img{
  width: 20%;
}

.section-two{
  margin-top: 150px;
}

.section-two h2{
  font-size: 40px;
}

.section-two h3{
  font-size: 30px;
}

.section-two h1{
  font-size: 60px;
}

.section-two p{
  font-size: 26px;
}

.dot {
  width: 280px;
  height: 90px;
  font-size: 26px;
  margin-top: 50px;
}

.download{
  width: 240px;
  height: 70px;
  font-size: 22px;
}

.dot a, .download a{
  text-decoration: none;
}
footer{
  font-weight: normal;
}
.footer-container{
  margin-left: 8vw;
  margin-top: 0;
}

.footer-item{
  font-size: 20px;
}

.gdpr{
  font-size: 20px;
}

.copy{
  font-size: 18px;
}

.banner-two-container{
  height: fit-content;
}
.banner-two-item{
  width: 70vw;
  margin: 100px auto;
}
.banner-two-item p{
  font-size: 26px;
}
#signature {
  margin-left: 45vw;
}

#story-headline{
  font-size: 70px;
}

.person-item h2{
  font-size: 45px;
}

.person-item p{
  font-size: 26px;
}

.person-item img{
  margin-left: 180px;
}

.form-heading{
  font-size: 80px;
}

.contact-form{
  width: 60vw;
  height: fit-content;
}

.info-item{
  margin-top: 120px;
  font-size: 26px;
}

.form, .form-control{
  font-size: 26px;
}

.form-control{
  width: 30vw;
  height: 80px;
  padding-left: 50px;
}

.btn-sub, .note-btn{
  width: 250px;
  height: 90px;
  border: none;
  font-size: 24px;
}

.form-check-input{
  width: 35px;
  height: 35px;
}

.note h1{
  font-size: 45px;
}

.note p{
  font-size: 26px;
}

}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 737px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 

}




/* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 834px) 
and (max-device-width: 1112px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 834px) 
and (max-device-width: 834px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 1112px) 
and (max-device-width: 1112px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
and (min-device-width: 1366px) 
and (max-device-width: 1366px) 
and (orientation: landscape) 
and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Galaxy Tab 2 ----------- */

/* Portrait and Landscape */
@media 
(min-device-width: 800px) 
and (max-device-width: 1280px) {

}

/* Portrait */
@media 
(max-device-width: 800px) 
and (orientation: portrait) { 

}

/* Landscape */
@media 
(max-device-width: 1280px) 
and (orientation: landscape) { 

}

/* ----------- Galaxy Tab S ----------- */

/* Portrait and Landscape */
@media 
(min-device-width: 800px) 
and (max-device-width: 1280px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media 
(max-device-width: 800px) 
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Landscape */
@media 
(max-device-width: 1280px) 
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) { 

}

/* ----------- Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 601px) 
and (device-height: 906px) 
and (-webkit-min-device-pixel-ratio: 1.331) 
and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* Portrait */
@media screen 
and (device-width: 601px) 
and (device-height: 906px) 
and (-webkit-min-device-pixel-ratio: 1.331) 
and (-webkit-max-device-pixel-ratio: 1.332) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 601px) 
and (device-height: 906px) 
and (-webkit-min-device-pixel-ratio: 1.331) 
and (-webkit-max-device-pixel-ratio: 1.332) 
and (orientation: landscape) {

}

/* ----------- Nexus 9 ----------- */

/* Portrait and Landscape */
@media screen 
and (device-width: 1536px) 
and (device-height: 2048px) 
and (-webkit-min-device-pixel-ratio: 1.331) 
and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* Portrait */
@media screen 
and (device-width: 1536px) 
and (device-height: 2048px) 
and (-webkit-min-device-pixel-ratio: 1.331) 
and (-webkit-max-device-pixel-ratio: 1.332) 
and (orientation: portrait) {

}

/* Landscape */
@media screen 
and (device-width: 1536px) 
and (device-height: 2048px) 
and (-webkit-min-device-pixel-ratio: 1.331) 
and (-webkit-max-device-pixel-ratio: 1.332) 
and (orientation: landscape) {

}

/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 800px) 
and (max-device-width: 1280px) 
and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen 
and (min-device-width: 800px) 
and (max-device-width: 1280px) 
and (-webkit-min-device-pixel-ratio: 1.5) 
and (orientation: portrait) {
}

/* Landscape */
@media only screen 
and (min-device-width: 800px) 
and (max-device-width: 1280px) 
and (-webkit-min-device-pixel-ratio: 1.5) 
and (orientation: landscape) {

}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Portrait */
@media only screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1.5) 
and (orientation: portrait) {
}

/* Landscape */
@media only screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1.5) 
and (orientation: landscape) {

}

/* ----------- Non-Retina Screens ----------- */
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) { 
}


}