
body{
  position: relative;
  font-size: 18px;
  font-family:'Quicksand',Helvetica, Arial,sans-serif;
  color: #2B005E;
  line-height: 1.6;
}


.main-bg{
  background-image: url(img/bg-img.jpg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: local;
  width: 100vw;
  height: 100vh;
}
.logo{
  float: left;
  padding: 2.5vw;
}